@model IList<TestTrack.ViewModels.TestPlanVM>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-8">
            <p>@Html.ActionLink(item.Title, "Index", "TestRunsOnTestPlan", new { id = item.TestPlanID }, null)</p>
            <p>@item.Description</p>
            <p><small>Created on @item.CreatedOn.</small></p>
        </div>
        <div class="col-md-4">
            
        </div>
    </div>
}
