@model TestTrack.ViewModels.ResultsListVM

<div id="tc-@Model.TestCaseID" class="row result">
    <div class="col-md-1 tc-id">
        <p><small>@Model.TestCaseID</small></p>
    </div>
    <div class="col-md-9">
        <p><small>@Html.ActionLink(Model.TestCase, "Index", "Results", new { id = Model.TestCaseID }, null)</small></p>
    </div>
    <div class="col-md-2">
        @Html.DropDownListFor(model => model.SelectedState, Model.States, new { @class = "form-control " + @Model.SelectedState.ToString().ToLower(), @data_id = Model.TestCaseID })
    </div>
</div>