@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title</h2>
<p>Use a service to log in.</p>
@Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}