@model TestTrack.ViewModels.ProjectsDropdownVM

<div class="btn-group">
    @using (Html.BeginForm("SetCurrent", "Projects"))
    {
        @Html.AntiForgeryToken()

        @Html.DropDownListFor(model => model.SelectedValue, Model.Values, new { @onchange="this.form.submit()", @class="form-control" })
    }
</div>