@model TestTrack.Models.Project

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete @Model.Title Project?</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" class="btn btn-default" />
    </p>
    @Html.ActionLink("Back to List", "Index")
}
