body {
    padding-top: 50px;
}

.editor-validation-error {
    margin-top: 5px;
    font-style: italic;
}

.main {
    padding: 40px 15px;
}

.nav-item-with-form {
    padding: 15px 15px;
}

.nav-item-with-dropdown {
    padding: 8px 15px;
}

.navbar-inverse .navbar-nav > li form > a {
    color: #999999;
}

    .navbar-inverse .navbar-nav > li form > a:hover,
    .navbar-inverse .navbar-nav > li form > a:focus {
        color: #ffffff;
        background-color: transparent;
        text-decoration: none;
    }

.dl-horizontal {
    border: 1px solid #e5e5e5;
    border-radius: 6px 6px 6px 6px;
    padding: 15px;
    background-color: #EAF1F7;
    margin-bottom: 30px;
}

.panel-heading{
    padding: 10px 15px 25px;
}

.heading-btn{
    float: right;
    margin-bottom: 20px;
}

.header {
    border: 1px solid #dddddd;
    border-radius: 6px 6px 6px 6px;
    padding: 8px;
    background-color: #f5f5f5;
    margin-bottom: 20px;
}

    .header strong {
        margin-right: 10px;
    }

.header-btn {
    margin-top: 30px;
    padding-bottom: 22px;
}

    .header-btn .btn {
        float: right;
    }

.content-body {
    margin-left: 8px;
}

input.form-control.tc-title {
    width: 100%;
}

textarea.form-control {
    height: 120px
}

.row.tc-info {
    border: 1px solid #e5e5e5;
    border-radius: 6px 6px 6px 6px;
    padding: 15px;
    background-color: #EAF1F7;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-right: 0px;
}

select.form-control {
    width: auto;
}

.square {
    width: 50px;
    height: 50px;
    border: 1px solid #e5e5e5;
    background-color: #428bca;
    float: right;
}

.breadcrumb {
    background-color: #FFFFFF;
    padding: 8px 1px;
}

.closed-test-runs {
    margin-top: 30px;
}

    .closed-test-runs .row {
        border-bottom: 1px solid #dddddd;
    }

span.glyphicon-chevron-down {
    top: 3px;
    color: #dddddd;
    margin-left: 10px;
}

.panel-title {
    font-size: inherit;
}

select.blocked {
    background-color: #2f7ed8;
    color: #ffffff;
}

select.failed {
    background-color: #910000;
    color: #ffffff;
}

select.passed {
    background-color: #8bbc21;
    color: #ffffff;
}

select.retest {
    background-color: #0d233a;
    color: #ffffff;
}

.row {
    margin-bottom: 15px;
}

.row.result {
    margin-bottom: 0px;
    padding: 2px 0px;
    border-bottom: 1px solid #dddddd;
}

    .row.result .tc-id {
        text-align: center;
    }

    .row.result select {
        margin-left: 8px;
        font-size: 12px;
        height: auto;
    }

.row .chart {
    padding-left: 120px;
}

.highcharts-container [text-anchor=end] {
    display: none;
}

.passed-percentage {
    text-align: left;
    padding-top: 120px;
    font-size: 80px;
    line-height: 0.8;
}

#closedTestRunsPanel .passed-percentage {
    text-align: left;
    padding-top: 0px;
    font-size: 150%;
    line-height: 1;
}

.progress-bar-success {
    background-color: #8bbc21 !important;
}

.progress-bar-danger {
    background-color: #910000 !important;
}

.progress-bar-info {
    background-color: #0d233a !important;
}

.progress-bar-warning {
    background-color: #2f7ed8 !important;
}