@model IList<TestTrack.ViewModels.TestSuiteVM>

<ul class="nav nav-pills">
    @foreach (var item in Model)
    {
        <li>@Html.ActionLink(item.Title, "Index", "TestCasesPerTestSuite", new { id = item.TeamID }, null)</li>
    }
</ul>