@model TestTrack.Models.TestSuite

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete @Model.Title Test Suite?</h3>
<br />

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" class="btn btn-default"/> |
        @Html.ActionLink("Cancel", "Index", "TestCasesPerTestSuite")
    </p>
}
