@model IList<TestTrack.ViewModels.IterationVM>

        <ul class="nav nav-pills">
            @foreach (var item in Model)
            {
                <li>@Html.ActionLink(item.Title, "Index", "TestPlanPerIteration", new { id = item.IterationID }, null)</li>
            }
        </ul>